name: Build Transparente Rust

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:

  build-fedora:
    name: Build RPM Fedora
    runs-on: ubuntu-latest
    container:
      image: fedora:39

    steps:
      - name: Install deps
        run: |
          dnf update -y
          dnf install -y \
            gcc gcc-c++ make \
            openssl-devel \
            libX11-devel libxkbcommon-devel wayland-devel mesa-libEGL-devel \
            dbus-devel \
            rpm-build rpmdevtools \
            curl git

      - uses: actions/checkout@v4

      - name: Install Rust
        run: |
          curl https://sh.rustup.rs -sSf | sh -s -- -y
          source $HOME/.cargo/env

      - name: Build
        working-directory: rust
        env:
          ORT_STRATEGY: download
        run: |
          source $HOME/.cargo/env
          cargo build --release

      - name: Inject ONNX Runtime and build RPM
        working-directory: rust
        run: |
          source $HOME/.cargo/env

          SO_PATH=$(find target -name "libonnxruntime.so*" -type f | head -n1)
          if [ -z "$SO_PATH" ]; then
            echo "libonnxruntime no encontrada"
            exit 1
          fi

          SO_NAME=$(basename "$SO_PATH")
          cp "$SO_PATH" target/release/

          cargo install cargo-generate-rpm

          cargo generate-rpm \
            --payload-file "target/release/$SO_NAME=/usr/lib64/$SO_NAME"

      - name: Collect RPM
        run: |
          mkdir -p dist_fedora
          cp rust/target/generate-rpm/*.rpm dist_fedora/

      - uses: actions/upload-artifact@v4
        with:
          name: transparente_rust-fedora
          path: dist_fedora/
